@import url('../component.css');
@import url('../theme.css');
@import url('../../documentation/style.css');
@import url('../../base/utils.css');

/* Image containers styling */
.example-container-img,.example-container-img-v, .example-container-img-r {
    border:2px solid var(--black);
    margin: 0.8rem auto;
    max-width: 50%;
    padding:0.8rem; 
}
.example-container-img-v {
    height: 20rem;
}
.example-container-img-r {
    max-width: 30%;
}

/* Responsive image */
.responsive-img {
    height: inherit;
    max-width: 100%;
    overflow: hidden;
}

/* Round image */
.rounded-img {
    border-radius: 50%;
}