<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards-Shuttle UI</title>
    <link rel="stylesheet" href="card.css" />
    <link rel="icon" href="../../asset/img1.svg" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="container">
      <main>

        <!-- Default Card -->
        <div>
          <h2>Card</h2>
          <p>
            The Card components are used to provide feedback messages for typical user actions. Alerts can have different variants and can also indicate different statuses.
          </p>
          <h3>Examples</h3>
          <h4>Usage</h4>
          <p>Use the <span class="class-names">card</span> classname to create an alert. Just add the classname to create the alert component and add the background colour classes to create alerts having different colours.</p>
          <div class="example-container">
            <div class="card-vert flex-v bg-secondary">
              <div class="card-img">
                <img class="responsive-img" src="../../asset/card/card1.jpg" alt="image-of-a-woman">
              </div>
              <h5 class="card-header">Marks & Aria</h5>
              <p class="card-para">Printed Tee
                <br>Rs. 1500</p>
              <div class="card-buttons">
                  <button class="btn-card">Add to Cart</button>
                  <button class="btn-card">Add to Wishlist</button>
              </div>
            </div>  
          </div>
          <div class="iframe-container">
            
          </div>  
        </div>


        <!-- Card with Badges -->
        <div>
          <h4>Cards with Badges</h4>
          <p> </p>
          <div class="example-container">
            
          </div>
          <div class="iframe-container">
            
          </div>
        </div>


        <!-- Card with Dismiss -->
        <div>
          <h4>Cards with dismiss</h4>
          <p> </p>
          <div class="example-container">
      
          </div>
          <div class="iframe-container">
            
          </div>
        </div>


        <!-- Card with text overlay  -->
        <div>
          <h4>Cards with text overlay</h4>
          <p> </p>
          <div class="example-container">
            

          </div>
          <div class="iframe-container">
            
          </div>
        </div>


        <!-- Text only cards -->
        <div>
          <h4>Text only cards</h4>
          <p> </p>
          <div class="example-container">
            
          </div>
          <div class="iframe-container">
            
          </div>
        </div>


        <!-- Verical Cards -->
        <div>
            <h4>Vertical cards</h4>
            <p> </p>
            <div class="example-container">
              
            </div>
            <div class="iframe-container">
              
            </div>
        </div>


        <!-- Horizontal Cards -->
        <div>
          <h4>Horizontal cards</h4>
          <p> </p>
          <div class="example-container">
            
          </div>
          <div class="iframe-container">
            
          </div>
        </div>


        <!-- Cards with shadow -->
        <div>

          <h4>Cards with shadow</h4>
          <p> </p>
          <div class="example-container">
            
          </div>
          <div class="iframe-container">
            
          </div>
        </div>

      </main>
    </div>
  </body>
</html>
