<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons-Shuttle UI</title>
    <link rel="stylesheet" href="button.css" />
    <link rel="icon" href="asset/img1.svg" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="container">
      <main>

        <!-- Default Button-->
        <div>
          <h2>Button</h2>
          <p>
            The Button components are used by the users for performing certain actions on the webpage. They are used to trigger an action or event, such as submitting, opening,uploading, etc.
          </p>
          <h3>Examples</h3>
          <h4>Usage</h4>
          <p>Use the <span class="class-names">btn</span> classname to create a button. Just add the classname to create the button component and add the background colour classes to create buttons having different colours.</p>
          <div class="example-container flex-centered">
            <button class="btn bg-secondary">Submit</button>
          </div>

          <div class="iframe-container">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520bg-secondary%2522%253ESubmit%253C%252Fbutton%253E"
                style="width: 472px; height: 127px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
          </div>
          
        </div>


        <!-- Different Button Colours-->
        <div>
          <h4>Button Colours</h4>
          <p>You can create button of different colours by just adding the respective backgroung colour classes along with <span class="class-names">btn</span> classname. You can also change the text colours of the button by using the respective text colour classes of your choice.
          <div class="example-container flex-centered">
            <button class="btn bg-primary">Primary</button>
            <button class="btn bg-secondary">Default</button>
            <button class="btn bg-success">Success</button>
            <button class="btn bg-danger">Danger</button>
            <button class="btn bg-warning">Warning</button>
            <button class="btn bg-info">Information</button>
            <button class="btn bg-light">Light</button>
            <button class="btn bg-dark text-light">Dark</button>
          </div>

          <div class="iframe-container">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520bg-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-secondary%2522%253EDefault%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-success%2522%253ESuccess%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-danger%2522%253EDanger%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-warning%2522%253EWarning%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-info%2522%253EInformation%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-light%2522%253ELight%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-dark%2520text-light%2522%253EDark%253C%252Fbutton%253E"
                style="width: 507px; height: 257px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
           </iframe>
          </div>

        </div>


        <!-- Different Button Sizes-->
        <div>
          <h4>Button Sizes</h4>
          <p>You can create buttons of different sizes by just adding the respective  classes <span class="class-names">btn-sm</span> for small, <span class="class-names">btn-md</span> for medium or <span class="class-names">btn-lg</span> for large along with <span class="class-names">btn</span> classname. You can create a block level button which occupies the full width by using the <span class="class-names">btn-block</span> classname.</p>
          <div class="example-container flex-centered">
            <button class="btn bg-primary btn-sm">Small</button>
            <button class="btn bg-primary btn-md">Medium</button>
            <button class="btn bg-primary btn-lg">Large</button>
            <button class="btn bg-primary btn-block">Block Level button</button>
          </div>
  
          <div class="iframe-container">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520bg-primary%2520btn-sm%2522%253ESmall%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-primary%2520btn-md%2522%253EMedium%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-primary%2520btn-lg%2522%253ELarge%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-primary%2520btn-block%2522%253EBlock%2520Level%2520button%253C%252Fbutton%253E"
                style="width: 645px; height: 183px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
          </div> 
        </div>     


        <!-- Button variants -->
        <div>
          <h4>Button variants</h4>
          <p>You can also create different button variants by adding the <span class="class-names">btn-outline</span> classname for outlined button, <span class="class-names">btn-link</span> classname for link button, <span class="class-names">btn-disabled</span> classname for disabled button. Change the colour of the outline of button by using respective border colour classes.
          </p>
          <div class="example-container flex-centered">
            <button class="btn btn-outline border-primary">Outlined Button</button>
            <button class="btn bg-primary">Solid Button</button>
            <button class="btn btn-link">Link Button</button>
            <button class="btn bg-primary btn-disabled">Disabled Button</button>
          </div>

          <div class="iframe-container">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-outline%2520border-primary%2522%253EOutlined%2520Button%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-primary%2522%253ESolid%2520Button%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-link%2522%253ELink%2520Button%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520bg-primary%2520btn-disabled%2522%253EDisabled%2520Button%253C%252Fbutton%253E"
                style="width: 671px; height: 183px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
          </div>

        </div>


        <!-- Button with icons -->
        <div>
          <h4>Button with icon</h4>
          <p> You can create button with icons by adding the <span class="class-names">btn-with-icon</span> classname to the parent element and then include your icons inside the parent element.
          </p>
          <div class="example-container flex-centered">
            <button class="btn btn-with-icon bg-primary"><i class="fas fa-envelope"></i>Email</button>
            <button class="btn btn-with-icon bg-info"><i class="fas fa-wrench"></i>Settings</button>
            <button class="btn btn-with-icon bg-success"><i class="fas fa-phone-alt"></i>Call</button>
            <button class="btn btn-with-icon bg-warning"><i class="fas fa-tasks"></i>Lists</button>

          </div>
          <div class="iframe-container">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-with-icon%2520bg-primary%2522%253E%253Ci%2520class%253D%2522fas%2520fa-envelope%2522%253E%253C%252Fi%253EEmail%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-with-icon%2520bg-info%2522%253E%253Ci%2520class%253D%2522fas%2520fa-wrench%2522%253E%253C%252Fi%253ESettings%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-with-icon%2520bg-success%2522%253E%253Ci%2520class%253D%2522fas%2520fa-phone-alt%2522%253E%253C%252Fi%253ECall%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-with-icon%2520bg-warning%2522%253E%253Ci%2520class%253D%2522fas%2520fa-tasks%2522%253E%253C%252Fi%253ELists%253C%252Fbutton%253E"
                style="width: 836px; height: 183px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
          </div>
        </div>


      </main>
    </div>
  </body>
</html>
