@import url('../theme.css');
@import url('../../base/reset.css');
@import url('../../base/utils.css');

/* Background color of container */
.toast-background {
    height: 12rem;
    padding: 0.8rem;
}

/* Toast */
.toast,
.muted-text,
.toast-dismiss {
    padding:0.4rem;
}
.toast {
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    max-width: 24rem;
}
.toast-header {
    align-items: center;
}
.toast-sub-heading {
    align-items: center;
    margin-left: auto;
}
.muted-text {
    font-size: 80%;
}
.toast-body {
    text-align: left;
}
.toast-dismiss {
    cursor: pointer;
}

/* Translucent toast  */
.translucent-toast {
    opacity: 0.7;
}

/* Position */
.bottom-left {
    bottom: 1.6rem;
    left: 1.6rem;
}
.top-right {
    right: 1.6rem;
    top: 1.6rem;
}