@import url('Avatar/avatar.css');
@import url('Badge/badge.css');


/* Color variables */
:root {
    --primary:#63B3ED;
    --secondary:#CBD5E0;
    --success:#68D391;
    --danger:#E53E3E;
    --warning:#F6E05E;
    --info:#81E6D9;
    --black:#000000;
    --white:#FFFFFF;
    --light-grey:#E2E8F0;
    --class-color:#6050dc;
}






