/* Color variables */
:root {
    --primary:#63B3ED;
    --secondary:#CBD5E0;
    --success:#68D391;
    --danger:#E53E3E;
    --warning:#F6E05E;
    --info:#81E6D9;
    --black:#000000;
    --white:#FFFFFF;
    --light-grey:#E2E8F0;
    --class-color:#6050dc;
    --fb-header-color:#3B5998;
    --amz-header-color:#FF9900;
    --card-background:#FAF1F1;
    --card-btn-hover:#cbd5e099;
    --light-pink:#E97396;
    --overlay-color:#cbd5e099;
    --tinted-grey:#EEEEEE;
    --darker-grey:#56585A;
}

/* text colors */
.text-primary {
    color: var(--primary);
}
.text-success {
    color: var(--success);
}
.text-secondary {
    color: var(--secondary);
}
.text-danger {
    color: var(--danger);
}
.text-warning {
    color: var(--warning);
}
.text-info {
    color: var(--info);
}
.text-dark {
    color:var(--black);
}
.text-dark-grey {
    color: var(--darker-grey);
}
.text-light {
    color:var(--white);
}

/* Backgroung colors */
.bg-primary {
    background-color: var(--primary);
}
.bg-success {
    background-color: var(--success);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-danger {
    background-color: var(--danger);
}
.bg-warning {
    background-color: var(--warning);
}
.bg-info {
    background-color: var(--info);
}
.bg-light {
    background-color: var(--light-grey);
}
.bg-dark {
    background-color: var(--black);
}
.bg-card-background {
    background-color: var(--card-background);
}
.bg-card-btn {
    background-color: var(--class-color);
}    
.bg-fb-blue {
    background-color: var(--fb-header-color);
}
.bg-amz-orange {
    background-color: var(--amz-header-color);
}
.bg-light-grey {
    background-color: var(--tinted-grey);
}
.bg-white {
    background-color: var(--white);
}

/* border colors */
.border-primary {
    border-color: var(--primary);
}
.border-success {
    border-color: var(--success);
}
.border-secondary {
    border-color: var(--secondary);
}
.border-danger {
    border-color: var(--danger);
}
.border-warning {
    border-color: var(--warning);
}
.border-info {
    border-color: var(--info);
}
.border-light {
    border-color: var(--light-grey);
}
.border-dark {
    border-color: var(--black);
}
