<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shuttle UI</title>
    <link rel="stylesheet" href="badge.css" />
    <link rel="icon" href="asset/img1.svg" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>
    <!-- Header -->
    <div class="container-doc">
      <header>
          <nav class="navigation flex">
              <div class="nav-brand flex">
                  <img class="round-image" alt="image of a rocket" src="../../asset/img1.svg"/>
                  <h2 class="nav-title"><a class="link-remove-style" href="../../index.html">Shuttle UI</a></h2>
              </div>
              <ul class="nav-items flex">
                  <li class="li-remove-default cursor">Home</li>
                  <li class="li-remove-default cursor">Documentation</li>
              </ul>
          </nav>
      </header>

      <!-- Side Navigation -->
      <aside class="side-nav">
          <ul class="nav-items">
              <li><a href="../Alert/alert.html">Alert</a></li>
              <li><a href="../Avatar/avatar.html">Avatar</a></li>
              <li><a href="#">Badge</a></li>
              <li><a href="../Button/button.html">Button</a></li>              
              <li><a href="../Card/card.html">Card</a></li>
              <li><a href="../Image/responsive-image.html">Image</a></li>
              <li><a href="../Input/Input.html">Input</a></li>              
              <li><a href="../List/list.html">List</a></li>
              <li><a href="../Navigation/navigation.html">Navigation</a></li>
              <li><a href="../TextUtilities/textUtilities.html">Text Utilities</a></li>
          </ul>
      </aside>

      <!-- Main Page Content  -->
      <div class="main">

        <div class="container">  
          <main>

            <!-- Default Badge Component -->
            <div>
                <h2>Badge</h2>
                <p>
                  Badges are used as status descriptors for UI elements.They can be used to highlight an item's status for quick recognition.
                </p>
                <h3>Examples</h3>
                <h4>Usage</h4>
                <p>Use the <span class="class-names">badge</span> class to create a badge. Just add the class name to your element and you can also use the various background colour classes and text color classes to create badges of different styles.</p>
                <div class="example-container flex-centered">
                  <div class="badge bg-light">Default</div>
                </div>
                <div class="iframe-container">
                  <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cdiv%2520class%253D%2522badge%2520bg-light%2522%253EDefault%253C%252Fdiv%253E"
                    style="width: 411px; height: 127px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
              
            </div>


            <!-- Coloured Badge Component -->
            <div>
                <h4>Coloured Badges</h4>
                <p>Different coloured badges can be created by just adding the various background colour classes to the badge component.</p>
                <div class="example-container flex-centered">
                    <div class="badge bg-light">Light</div>
                    <div class="badge bg-dark text-light">Dark</div>
                    <div class="badge bg-primary">Primary</div>
                    <div class="badge bg-secondary">Secondary</div>
                    <div class="badge bg-success">Success</div>
                    <div class="badge bg-danger">Danger</div>
                    <div class="badge bg-warning">Warning</div>
                    <div class="badge bg-info">Info</div>
                </div>
                <div class="iframe-container">
                  <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cdiv%2520class%253D%2522badge%2520bg-light%2522%253ELight%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522badge%2520bg-dark%2520text-light%2522%253EDark%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522badge%2520bg-primary%2522%253EPrimary%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522badge%2520bg-secondary%2522%253ESecondary%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522badge%2520bg-success%2522%253ESuccess%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522badge%2520bg-danger%2522%253EDanger%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522badge%2520bg-warning%2522%253EWarning%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522badge%2520bg-info%2522%253EInfo%253C%252Fdiv%253E"
                    style="width: 472px; height: 257px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </div>


            <!-- Different Badge Variants -->
            <div>
                <h4>Badge Variants</h4>
                <p>You can create also create an outlined badge by adding the <span class="class-names">border</span> class to create the badge border and add the various border colour classes to create different coloured borders. 
                You can create a removed badge by adding the <span class="class-names">removed</span> class name to the badge to give it a disabled look.</p>
                <div class="example-container flex-centered">
                    <div class="badge bg-success">Solid</div>
                    <div class="badge border-success border text-success">Outline</div>
                    <div class="badge bg-success removed">Removed</div>
                </div>
                <div class="iframe-container">
                  <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cdiv%2520class%253D%2522badge%2520bg-success%2522%253ESolid%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522badge%2520border-success%2520border%2520text-success%2522%253EOutline%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522badge%2520bg-success%2520removed%2522%253ERemoved%253C%252Fdiv%253E"
                    style="width: 637px; height: 164px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </div> 
            

            <!-- Pill Shaped Badges -->
            <div>
                <h4>Pill Badges</h4>
                <p>A pill shaped badge can be created by adding the <span class="class-names">rounded-pill</span> class to the badge component. The colors can be added by using the different background colour class names.</p>
                <div class="example-container flex-centered">
                    <div class="badge bg-light rounded-pill">Light</div>
                    <div class="badge bg-dark text-light rounded-pill">Dark</div>
                    <div class="badge bg-primary rounded-pill">Primary</div>
                    <div class="badge bg-secondary rounded-pill">Secondary</div>
                    <div class="badge bg-success rounded-pill">Success</div>
                    <div class="badge bg-danger rounded-pill">Danger</div>
                    <div class="badge bg-warning rounded-pill">Warning</div>
                    <div class="badge bg-info rounded-pill">Info</div>
                </div>
                <div class="iframe-container">
                  <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cdiv%2520class%253D%2522badge%2520bg-light%2520rounded-pill%2522%253ELight%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522badge%2520bg-dark%2520text-light%2520rounded-pill%2522%253EDark%253C%252Fdiv%253E"
                    style="width: 585px; height: 145px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </div> 
            

            <!-- Button with Badge -->
            <div>
                <h4>Button with Badge</h4>
                <p>You can also use the badge inside a button element.</p>
                <div class="example-container flex-centered">
                    <button class="btn">Notification<span class="badge bg-primary">6</span></button>
                </div>
                <div class="iframe-container">
                  <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2522%253ENotification%253Cspan%2520class%253D%2522badge%2520bg-primary%2522%253E6%253C%252Fspan%253E%253C%252Fbutton%253E"
                    style="width: 749px; height: 127px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </div> 
            

            <!-- Text with Badge -->
            <div>
                <h4>Text with Badge</h4>
                <p>Badges can also be added to the texts. Use the <span class="class-names">text-element</span> classname on the parent div element of the text and use the <span class="class-names">badge-on-elements</span> classname to create the badge on text effect. You can also create rounded badges by adding the <span class="class-names">rounded-badge</span> classname to the badge.</p>
                <div class="example-container flex-centered">
                  <div class="text-element">
                    <span>Text with badge</span>
                    <span class="badge-on-elements rounded-badge bg-primary">+1</span> 
                  </div>
                </div>
                <div class="iframe-container">
                  <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cdiv%2520class%253D%2522text-element%2522%253E%250A%2509%253Cspan%253EText%2520with%2520badge%253C%252Fspan%253E%250A%2509%253Cspan%2520class%253D%2522badge-on-elements%2520rounded-badge%2520bg-primary%2522%253E%252B1%253C%252Fspan%253E%2520%250A%253C%252Fdiv%253E"
                    style="width: 671px; height: 183px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </div> 


            <!-- Icons with badge -->
            <div>
                <h4>Badge on icons</h4>
                <p>Different icons with badge can be created by using the respective icons and adding the <span class="class-names">icon-element</span> classname on the parent div element of the icon and use the <span class="class-names">badge-on-elements</span> classname to create the badge on icon effect.
                <span class="class-names">badge</span>
                <span class="class-names">badge</span>
                <div class="example-container flex-centered">
                  <div class="icon-element">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                    <div class="rounded-badge badge-on-elements bg-danger text-light">2</div> 
                  </div>
                  <div class="icon-element">
                    <i class="fas fa-heart fa-2x"></i>
                    <div class="rounded-badge badge-on-elements bg-danger text-light">6</div>
                  </div>
                  <div class="icon-element">
                    <i class="fas fa-bell fa-2x"></i>
                    <div class="bg-danger rounded-badge badge-on-elements text-light">4</div>
                  </div>
                </div>
                <div class="iframe-container">
                  <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cdiv%2520class%253D%2522icon-element%2522%253E%250A%2509%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2520fa-2x%2522%253E%253C%252Fi%253E%250A%2509%253Cdiv%2520class%253D%2522rounded-badge%2520badge-on-elements%2520bg-danger%2520text-light%2522%253E2%253C%252Fdiv%253E%2520%250A%253C%252Fdiv%253E"
                    style="width: 732px; height: 183px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </div> 

            <!-- Avatar with badge -->
            <div>
                <h4>Badge on Avatars</h4>
                <p>Badges can be added on avatars which can be used to indicate the various avatar statuses. You can use the <span class="class-names">avatar-badge</span> classname on the parent element. Add the <span class="class-names">avatar-circle</span> classname to create the badge on the avatar and also by using various classnames like <span class="class-names">busy</span>, <span class="class-names">online</span> <span class="class-names">offline</span> and <span class="class-names">away</span> show various different statuses.
                </p>
                <div class="example-container flex-centered">
                  <div class="avatar-badge">
                    <img src="../../asset/avatar/avatar1.jpg" alt="john doe" class="avatar block"/>
                    <div class="avatar-circle busy border"></div>
                  </div>
                </div>
                <div class="iframe-container">
                  <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28226%2C226%2C226%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=23px&dsblur=67px&wc=true&wa=true&pv=25px&ph=17px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cdiv%2520class%253D%2522avatar-badge%2522%253E%250A%2509%253Cimg%2520src%253D%2522..%252F..%252Fasset%252Favatar%252Favatar1.jpg%2522%2520alt%253D%2522john%2520doe%2522%2520class%253D%2522avatar%2520block%2522%252F%253E%250A%2509%253Cdiv%2520class%253D%2522avatar-circle%2520busy%2520border%2522%253E%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                    style="width: 775px; height: 183px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </div> 

          </main>
        </div>
      </div>
    </div>    
  </body>
</html>
