@import url('../component.css');
@import url('../theme.css');
@import url('../../documentation/style.css');

.btn{
    padding:0.2rem 0.8rem;
    word-spacing: 0.2rem;
}

/* Badge */
.badge{
    border-radius: 0.25rem;
    display: inline-block;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    margin: 0.2rem;
    padding: 0.35em 0.65em;
    text-align: center;
}

/* Badge outline */
.outline{
    border-style: solid;
    border-width: 2px;
}

/* Disabled badge */
.removed{
    opacity: 0.4;
}

/* Pill shaped badge */
.rounded-pill{
    border-radius: 0.8rem;
}

/* Rounded badges */
.rounded-badge{
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1;
    padding: 0.15rem 0.3rem;
    width: max-content;
}

/* Badge on texts and icons */
.text-element{
    padding: 0.8rem;
    position: relative;
    text-align: center;
    width: max-content;
}

.icon-element{
    position: relative;
    width: max-content;
}

.badge-on-elements{
    position:absolute;
    right:0;
    top:0;
    z-index: 1; 
}

