html, body, div, span, iframe,h1, h2, h3, a, img, ul, li, aside, canvas, details, footer, header, nav, section, audio, video{
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;     
}
