.absolute {
    position: absolute;
}
.block {
    display: block;
}
.border {
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}
.cursor {
    cursor: pointer;
}
.flex {
    display: flex;
}
.flex-centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.realtive {
    position: relative;
}

/* Padding */
.padding-sm {
    padding:0.4rem;
}
.padding-md {
    padding:0.8rem;
}
.padding-lg {
    padding:1.2rem;
}

/* margin */
.margin-sm {
    margin:0.4rem;
}
.margin-md {
    margin:0.8rem;
}
.margin-lg {
    margin:1.2rem;
}
