.absolute {
    position: absolute;
}
.block {
    display: block;
}
.border {
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}
.cursor {
    cursor: pointer;
}
.flex {
    display: flex;
}
.flex-centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.relative {
    position: relative;
}

