@import url('../base/utils.css');
/* Main section */
main {
    font-size: 1.2rem;
    text-align: center;
}

/* Class Names Style*/
.class-names {
    font-style:italic;
    color:var(--class-color);
}

/*Paragraph */
main p {
    margin:0.8rem auto;
    text-align:left;
    width: 60%;
}


/* Examples container */

.example-container {
    align-items: center; 
    border:2px;
    border-radius: 12px;
    border-style: solid;
    gap: 0.8rem;
    margin:0.8rem auto;
    padding:0.8rem;
    width: 60%;    
}


/* Iframe container  */
.iframe-container {
    margin: 0.8rem auto;
}

iframe {
    border-radius: 12px;
    max-width: 100%;
}




