@import url('../component.css');
@import url('../theme.css');
@import url('../../documentation/style.css');
@import url('../../base/utils.css');

/* Header style */
.heading-h1,.heading-h2,.heading-h3
.heading-h4,.heading-h5,.heading-h6 {
    margin:0.8rem;
}
.heading-h1 {
    font-size: 2.8rem;
}
.heading-h2 {
    font-size: 2.4rem;
}
.heading-h3 {
    font-size: 2rem;
}
.heading-h4 {
    font-size: 1.6rem;
}
.heading-h5 {
    font-size: 1.2rem;
}
.heading-h6 {
    font-size: 0.8rem;
}

/* Text alignments */
.txt-center {
    text-align: center;
}
.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}

/* Text Sizes */
.txt-xs {
    font-size: 0.8rem;
}
.txt-sm {
    font-size: 1rem;
}
.txt-md {
    font-size: 1.2rem;
}
.txt-lg {
    font-size: 1.4rem;
}
.txt-xl {
    font-size: 1.6rem;
}
.txt-xxl {
    font-size: 1.8rem;
}

/* Text styles */
.txt-bold {
    font-weight: 900;
}
.txt-italics {
    font-style: italic;
}
.txt-underline {
    text-decoration:underline;
}
.txt-strikethrough {
    text-decoration: line-through;
}
